<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GenesisOwners Portal Test Automation Test Suite"  >



<test name="Genesis Owners Portal Test Cases + Chrome">
<parameter name="browser" value="chrome"></parameter>
		<classes>
			
			<class name="com.testCases.LoginFrameTest"/>
		</classes>
	</test>

	
</suite>
